<div id="about" class="capability">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-6">
        <div class="capability__block">
          <div class="capability__img">
            <img src="assets/img/icons/section2/pencil.png" alt="pencil" />
          </div>
          <div class="capability__title">Вeб дизайн</div>
          <div class="capability__descr">
            Nam liber tempor cum soluta nobis eleifend option congue nihil
            imperdiet doming id quod mazim.
          </div>
          <div class="capability__line"></div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-6">
        <div class="capability__block">
          <div class="capability__img">
            <img src="assets/img/icons/section2/layers.png" alt="layers" />
          </div>
          <div class="capability__title">Разработка</div>
          <div class="capability__descr">
            Nam liber tempor cum soluta nobis eleifend option congue nihil
            imperdiet doming id quod mazim.
          </div>
          <div class="capability__line"></div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-6">
        <div class="capability__block">
          <div class="capability__img">
            <img src="assets/img/icons/section2/nut.png" alt="nut" />
          </div>
          <div class="capability__title">Настройка</div>
          <div class="capability__descr">
            Nam liber tempor cum soluta nobis eleifend option congue nihil
            imperdiet doming id quod mazim.
          </div>
          <div class="capability__line"></div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-6">
        <div class="capability__block">
          <div class="capability__img">
            <img src="assets/img/icons/section2/folder.png" alt="folder" />
          </div>
          <div class="capability__title">Продвижение</div>
          <div class="capability__descr">
            Nam liber tempor cum soluta nobis eleifend option congue nihil
            imperdiet doming id quod mazim.
          </div>
          <div class="capability__line"></div>
        </div>
      </div>
    </div>
  </div>
</div>
