<footer class="footer">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-xl-4 col-lg-5 col-12">
        <div class="footer__about">
          <div class="footer__about_text">
            Copyright © 2015 Waxom
          </div>
          <span>|</span>
          <div class="footer__about_text">
            Privacy Policy
          </div>
          <span>|</span>
          <div class="footer__about_text">
            FAQ
          </div>
          <span>|</span>
          <div class="footer__about_text">
            Support
          </div>
        </div>
      </div>
      <div class="offset-xl-4 col-xl-4 offset-lg-2 col-lg-5 col-12">
        <div class="footer__about footer__about-justifyEnd">
          <div class="footer__about_text">
            Designed by ThemeFire
          </div>
          <span>|</span>
          <div class="footer__about_text">
            Only on Envato Market
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
