<section class="mobile">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-12 order-2 order-lg-0">
        <div class="mobile__hand">
          <img src="assets/img/iphone-hand.jpg" alt="hand" />
        </div>
      </div>
      <div class="col-lg-7 col-md-12">
        <div class="mobile__text">
          <div class="waxom__title waxom__title_mobile">
            Превосходно для мобильных устройств.
          </div>
          <div class="waxom__descr waxom__descr_mobile">
            Qisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
            suscipit lobortis nisl ut aliquip ex ea commodo consequat.
            Investigationes demonstraverunt lectores legere me lius quod ii
            legunt saepius claritas. Eodem modo typi, qui nunc nobis videntur
            parum clari, fiant sollemnes in futurum.
          </div>
          <ul class="waxom__descr mobile__list">
            <li class="mobile__point">
              Nam liber tempor cum soluta nobis eleifend option
            </li>
            <li class="mobile__point">
              Option congue nihil imperdiet doming id quod mazim placerat facer
            </li>
            <li class="mobile__point">
              Eodem modo typi, qui nunc nobis videntur parum futurum
            </li>
            <li class="mobile__point">
              Investigationes demonstraverunt lectores
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
