<section id="shorts" class="navigation">
  <div class="container">
    <div class="row">
      <div class="col-xl-3 col-lg-6 col-md-6">
        <div class="navigation__logo">
          <div class="main__logo">
            <img src="assets/img/icons/logo.png" alt="logo" />
            Waxom
          </div>

          <div class="waxom__descr waxom__descr_navigation">
            Lorem ipsum dolor sit amet, consec-tetuer adipiscing elit, sed diam
            nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
            volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci suscipit
            lobortis claritatem.
          </div>

          <div class="readMore readMore__navigation">Read More</div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6">
        <div class="navigation__posts">
          <div class="waxom__title waxom__title_navigation">
            Недавние посты
          </div>

          <div
            class="navigation__posts_block navigation__posts_block-marginTop"
          >
            <small class="navigation__posts_data">
              Сентябрь 08, 2020
            </small>
            <div class="navigation__posts_text">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit
            </div>
            <hr />
          </div>
          <div class="navigation__posts_block">
            <small class="navigation__posts_data">
              Сентябрь 08, 2020
            </small>
            <div class="navigation__posts_text">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit
            </div>
            <hr />
          </div>
          <div class="navigation__posts_block">
            <small class="navigation__posts_data">
              Сентябрь 08, 2020
            </small>
            <div class="navigation__posts_text">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit
            </div>
            <hr />
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-6 col-md-6">
        <div class="navigation__posts">
          <div class="waxom__title waxom__title_navigation navigation__lg">
            Твиттер
          </div>

          <div
            class="navigation__posts_block navigation__posts_block-marginTop"
          >
            <div class="navigation__posts_text">
              @waxom Cum soluta nobis eleifend option congue nihil imperdiet
              doming
            </div>
            <small
              class="navigation__posts_data navigation__posts_data-marginTop"
            >
              3 mins ago
            </small>
            <hr />
          </div>

          <div
            class="navigation__posts_block navigation__posts_block-marginTop"
          >
            <div class="navigation__posts_text">
              Mirum est #envato notare quam littera gothica, quam nunc putamus
              parum anteposuerit litterarum
            </div>
            <small
              class="navigation__posts_data navigation__posts_data-marginTop"
            >
              5 hours ago
            </small>
            <hr />
          </div>

          <div
            class="navigation__posts_block navigation__posts_block-marginTop"
          >
            <div class="navigation__posts_text">
              Soluta nobis option bit.ly/1Hniso7
            </div>
            <small
              class="navigation__posts_data navigation__posts_data-marginTop"
            >
              20 days ago
            </small>
            <hr />
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-6 col-md-6">
        <div class="navigation__posts navigation__lg">
          <div class="waxom__title waxom__title_navigation navigation__lg">
            Dribbble Widget
          </div>

          <div
            class="navigation__posts_block navigation__posts_block-marginTop navigation__posts_block-flex"
          >
            <img src="assets/img/icons/navigation/phones.png" alt="phones" />
            <img src="assets/img/icons/navigation/bug.png" alt="bug" />
            <img
              src="assets/img/icons/navigation/magazine.png"
              alt="magazine"
            />
            <img src="assets/img/icons/navigation/icons.png" alt="icons" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
