<section class="partners">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-xl-3 col-lg-3">
        <img src="assets/img/icons/section9/logo1.png" alt="phones" />
      </div>
      <div class="col-xl-3 col-lg-3">
        <img src="assets/img/icons/section9/logo2.png" alt="" />
      </div>
      <div class="col-xl-3 col-lg-3">
        <img src="assets/img/icons/section9/logo3.png" alt="" />
      </div>
      <div class="col-xl-3 col-lg-3">
        <img src="assets/img/icons/section9/logo4.png" alt="" />
      </div>
    </div>
  </div>
</section>
