<div id="blog" class="posts">
  <div class="container">
    <div class="row">
      <div class="col-xl-4 offset-xl-4">
        <div class="waxom__title waxom__title_posts">Недавние посты</div>
      </div>

      <div class="col-xl-8 offset-xl-2">
        <div class="waxom__descr waxom__descr_posts">
          Investigationes demonstraverunt lectores legere me lius quod ii legunt
          saepius. Claritas est etiam processus dynamicus, qui sequitur
          mutationem consuetudium.
        </div>
      </div>

      <div class="col-xl-12">
        <div class="posts__slider">
          <div class="posts__slider_wrap">
            <div class="posts__slider_photo">
              <div class="slider__data">
                <div class="slider__number">30</div>
                <div class="slider__month">Sep.</div>
              </div>
              <div class="slider__img"></div>
              <img src="assets/img/icons/section8/legs.png" alt="legs" />
            </div>

            <div class="posts__slider_text">
              <div class="waxom__title waxom__title_slider">
                Lorem ipsum dolor sit amet
              </div>
              <div class="waxom__descr waxom__descr_slider">
                Claritas est etiam processus dynamicus, qui sequitur mutationem
                consuetudium.
              </div>
              <div class="readMore">Read More</div>
            </div>
          </div>

          <div class="posts__slider_wrap">
            <div class="posts__slider_photo">
              <div class="slider__data">
                <div class="slider__number">30</div>
                <div class="slider__month">Sep.</div>
              </div>
              <div class="slider__img"></div>
              <img src="assets/img/icons/section8/laptop.png" alt="laptop" />
            </div>

            <div class="posts__slider_text">
              <div class="waxom__title waxom__title_slider">
                Lorem ipsum dolor sit amet
              </div>
              <div class="waxom__descr waxom__descr_slider">
                Claritas est etiam processus dynamicus, qui sequitur mutationem
                consuetudium.
              </div>
              <div class="readMore">Read More</div>
            </div>
          </div>

          <div class="posts__slider_wrap">
            <div class="posts__slider_photo">
              <div class="slider__data">
                <div class="slider__number">30</div>
                <div class="slider__month">Sep.</div>
              </div>
              <div class="slider__img"></div>
              <img
                src="assets/img/icons/section8/steamboat.png"
                alt="steamboat"
              />
            </div>

            <div class="posts__slider_text">
              <div class="waxom__title waxom__title_slider">
                Lorem ipsum dolor sit amet
              </div>
              <div class="waxom__descr waxom__descr_slider">
                Claritas est etiam processus dynamicus, qui sequitur mutationem
                consuetudium.
              </div>
              <div class="readMore">Read More</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
