<div class="projects">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="waxom__title">
          Наши последние проекты.
        </div>
      </div>
      <div class="col-md-8 offset-md-2">
        <div class="waxom__descr waxom__descr_projects">
          Investigationes demonstraverunt lectores legere me lius quod ii legunt
          saepius. Claritas est etiam processus dynamicus, qui sequitur
          mutationem consuetudium.
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="projects__tabs">
          <div class="projects__tabs_desk projects__tabs_active">Все</div>
          <div class="projects__tabs_desk">Веб Дизайн</div>
          <div class="projects__tabs_desk">
            Мобильные<br />
            приложения
          </div>
          <div class="projects__tabs_desk">Иллюстрации</div>
          <div class="projects__tabs_desk">Фотографии</div>
        </div>
      </div>
    </div>

    <div class="row projects__sites">
      <div class="col-xl-4 col-md-6">
        <div class="projects__sites_block">
          <div class="projects__sites_imgWrap">
            <img src="assets/img/icons/section4/phone.png" alt="" />
            <div class="projects__sites_icons">
              <img src="assets/img/icons/section4/chain.png" alt="" class="projects__sites_icons_chain"></img>
              <img src="assets/img/icons/section4/loupe.png" alt="" class="projects__sites_icons_loupe"></img>
            </div>
          </div>
          <div class="projects__sites_descr">
            <p class="projects__sites_descr_title">Claritas Etiam Processus</p>
            <small class="projects__sites_descr_text"
              >Photography, Nature</small
            >
          </div>
        </div>
      </div>

      <div class="col-xl-4 col-md-6">
        <div class="projects__sites_block">
          <div class="projects__sites_imgWrap">
            <img src="assets/img/icons/section4/rock.png" alt="" />
            <div class="projects__sites_icons">
              <img src="assets/img/icons/section4/chain.png" alt="" class="projects__sites_icons_chain"></img>
              <img src="assets/img/icons/section4/loupe.png" alt="" class="projects__sites_icons_loupe"></img>
            </div>
          </div>
          <div class="projects__sites_descr">
            <p class="projects__sites_descr_title">Claritas Etiam Processus</p>
            <small class="projects__sites_descr_text"
              >Photography, Nature</small
            >
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="projects__sites_block">
          <div class="projects__sites_imgWrap">
            <img src="assets/img/icons/section4/book.png" alt="" />
            <div class="projects__sites_icons">
              <img src="assets/img/icons/section4/chain.png" alt="" class="projects__sites_icons_chain"></img>
              <img src="assets/img/icons/section4/loupe.png" alt="" class="projects__sites_icons_loupe"></img>
            </div>
          </div>
          <div class="projects__sites_descr">
            <p class="projects__sites_descr_title">Claritas Etiam Processus</p>
            <small class="projects__sites_descr_text"
              >Photography, Nature</small
            >
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="projects__sites_block">
          <div class="projects__sites_imgWrap">
            <img src="assets/img/icons/section4/smoke.png" alt="" />
            <div class="projects__sites_icons">
              <img src="assets/img/icons/section4/chain.png" alt="" class="projects__sites_icons_chain"></img>
              <img src="assets/img/icons/section4/loupe.png" alt="" class="projects__sites_icons_loupe"></img>
            </div>
          </div>
          <div class="projects__sites_descr">
            <p class="projects__sites_descr_title">Claritas Etiam Processus</p>
            <small class="projects__sites_descr_text"
              >Photography, Nature</small
            >
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="projects__sites_block">
          <div class="projects__sites_imgWrap">
            <img src="assets/img/icons/section4/magazine.png" alt="" />
            <div class="projects__sites_icons">
              <img src="assets/img/icons/section4/chain.png" alt="" class="projects__sites_icons_chain"></img>
              <img src="assets/img/icons/section4/loupe.png" alt="" class="projects__sites_icons_loupe"></img>
            </div>
          </div>
          <div class="projects__sites_descr">
            <p class="projects__sites_descr_title">Claritas Etiam Processus</p>
            <small class="projects__sites_descr_text"
              >Photography, Nature</small
            >
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="projects__sites_block">
          <div class="projects__sites_imgWrap">
            <img src="assets/img/icons/section4/rock6.png" alt="" />
            <div class="projects__sites_icons">
              <img src="assets/img/icons/section4/chain.png" alt="" class="projects__sites_icons_chain"></img>
              <img src="assets/img/icons/section4/loupe.png" alt="" class="projects__sites_icons_loupe"></img>
            </div>
          </div>
          <div class="projects__sites_descr">
            <p class="projects__sites_descr_title">Claritas Etiam Processus</p>
            <small class="projects__sites_descr_text"
              >Photography, Nature</small
            >
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-auto">
        <button class="button__base button__projects">Загрузить ещё</button>
      </div>
    </div>
  </div>
</div>
