<div id="prices" class="statistics">
  <div class="container">
    <div class="row">
      <div class="statistics__flex col-xl-10 offset-xl-1 col-12">
        <div class="statistics__block">
          <div class="statistics__wrap">
            <div class="statistics__wrap_icon">
              <img src="assets/img/icons/section7/people.png" alt="people" />
            </div>
            <div class="statistics__wrap_number">3587</div>
            <div class="waxom__descr waxom__descr_statistics">
              Довольных клиентов
            </div>
            <div class="statistics__wrap_line"></div>
          </div>
          <div class="statistics__wrap">
            <div class="statistics__wrap_icon">
              <img src="assets/img/icons/section7/cup.png" alt="people" />
            </div>
            <div class="statistics__wrap_number">207</div>
            <div class="waxom__descr waxom__descr_statistics">
              Чашек кофе
            </div>
            <div class="statistics__wrap_line"></div>
          </div>
          <div class="statistics__wrap">
            <div class="statistics__wrap_icon">
              <img src="assets/img/icons/section7/cloud.png" alt="people" />
            </div>
            <div class="statistics__wrap_number">2500</div>
            <div class="waxom__descr waxom__descr_statistics">
              Постов блога
            </div>
            <div class="statistics__wrap_line"></div>
          </div>
          <div class="statistics__wrap">
            <div class="statistics__wrap_icon">
              <img src="assets/img/icons/section7/hearth.png" alt="people" />
            </div>
            <div class="statistics__wrap_number">873</div>
            <div class="waxom__descr waxom__descr_statistics">
              Лайков
            </div>
            <div class="statistics__wrap_line"></div>
          </div>
          <div class="statistics__wrap">
            <div class="statistics__wrap_icon">
              <img src="assets/img/icons/section7/cap.png" alt="people" />
            </div>
            <div class="statistics__wrap_number">900</div>
            <div class="waxom__descr waxom__descr_statistics">
              Раз отужинали
            </div>
            <div class="statistics__wrap_line"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
