<section class="video">
  <div class="container-fluid align-items-center">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="video__play">
          <img src="assets/img/icons/play.png" alt="play" />
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-6">
        <div class="waxom__title waxom__title_video">
          Waxom Video Presentation
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="waxom__descr waxom__descr_video">
          Investigationes demonstraverunt lectores legere me lius quod ii legunt
          <br />
          saepius, qui sequitur mutationem consuetudium.
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-2">
        <small class="video__timer">03:26</small>
      </div>
    </div>
  </div>
</section>
